.loginPage{
    display: grid;
    place-items: center;
    height: 100vh;
    background: radial-gradient(ellipse at center, #f6cb6c 0%, #f3c65d 0%, #f2ae54 100%);;
}
.loginPage>img{
    width: 60%;
}
.loginPage>a{
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 400;
    color: white;
    text-decoration: none;
    cursor: pointer;
}